# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. scikit-learn
5. MySQL
6. ggplot2

| Data Science Tool |
| ----------------- |
| Jupyter Notebook  |
| R Studio          |
| Apache Zeppelin   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
a=10
b=5
print("Addition", a+b)
print("multiplication", a*b)
print("division", a/b)
print("subtraction", a-b)

Addition 15
multiplication 50
division 2.0
subtraction 5

#### For the following expression, the priority of order for arithmetic operations would be starting with parenthesis() next multiplication and division then addition and subtraction. so first we will do multiplication of 3 and 4 which is inside of parenthesis and then we will do addition

In [3]:
(3*4)+5

17

#### converting 200 mintues to hours by didving it with 60

In [5]:
200/60

3.3333333333333335

**Objectives:**
* Python
* R
* SQL
* Julia
* Scala
* Java
* JavaScript

## Author
Sharath