# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL
4. Java
5. Scala

### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. scikit-learn
5. MySQL
6. ggplot2

| Data Science Tool |
| ----------------- |
| Jupyter Notebook  |
| R Studio          |
| Apache Zeppelin   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# Following is the simple multiplication and addition of integers
(3*4)+5

17

In [2]:
# Following expression will convert 200 mintues to hours
200/60

3.3333333333333335

**Objectives:**
* Python
* R
* SQL
* Julia
* Scala
* Java
* JavaScript

## Author
Sharath